
< style> < head> <body> < body> < html> { }
<html> <head> <style type="text css" title="fiction"> h1 { color: #073298; font-weight: bold; font-family: "Bookman Old Style"; margin-bottom: 0; padding-bottom: 0 }
a { color: #073298; font-weight: bold; font-size: small; font-family: Verdana; text-decoration: none }
a.menu { background-image: url(/img/filigrana.jpg) }
a:hover { color: #7dcf4f }
a:visited { color: #073298 }
body { color: navy; font-size: small; font-family: Verdana; background-color: white }
h1 { font-size: x-large; font-family: Verdana }
h2 { color: #073298; font-weight: bold; font-size: large; font-family: Verdana }
h3 { color: #073298; font-weight: bold; font-size: medium; font-family: Verdana }
td { color: navy; font-size: small; font-family: Verdana; background-color: white }