$backgroundColor: #ffffff;
$bodyColor  : #000000;
$bodyFont   : -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
$colorH1    : #000066;
$colorH2    : #000099;
$colorBorder: #999999;

@import "styles";