
/*


@font-face {
  font-family: Inconsolata;
  src: url(/assets/fonts/Inconsolata-Regular.ttf);
  unicode-range: U+0025-00FF; 
}
@font-face {
  font-family: Inconsolata;
  src: url(/assets/fonts/Inconsolata-Bold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: Simonetta;
  src: url(/assets/fonts/Simonetta-Regular.ttf);
}
@font-face {
  font-family: Simonetta;
  src: url(/assets/fonts/Simonetta-Italic.ttf);
  font-style: italic, oblique;
}
@font-face {
  font-family: Simonetta;
  src: url(/assets/fonts/Simonetta-Black.ttf);
  font-weight: bold;
}
@font-face {
  font-family: Simonetta;
  src: url(/assets/fonts/Simonetta-BlackItalic.ttf);
  font-style: italic, oblique;
  font-weight: bold;
}


*/

* {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    padding:0;
    margin:0
}

BODY {
    background: $backgroundColor;
    color: $bodyColor;
    font-family: $bodyFont;
    font-size: 14pt;
    max-width: 800px;
    width: 100%;
    margin: auto;    
}

H1, H2, H3, H4 {
    margin-bottom: 0.5rem;
}

H1 {
    color: $colorH1;
}

H2 {
    color: $colorH2;
}

UL, OL {
    padding: 1rem 2rem;
}

BODY MAIN P {
    margin-bottom: 1rem;
    text-align: justify;
}


/**
 *
 *  INDEX PAGE
 *
 */
BODY.index {
    text-align: center;
    padding: 2rem 1rem;
}

BODY.index IMG.index {
    padding: 1rem;
    max-width: 90%;
    margin: 1rem 0;
}

BODY.index NAV {
}

BODY.index NAV A.language {
    display: inline-block;
    padding: 0 2rem;
}

BODY.index NAV IMG.flag {
    width: 80px;
    height: 50px;
} 
