<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
    <head>
        {%- include head.html -%}
     </head>
    <body>
        <header>
            <img class="logo" alt="logo PIV" src="/assets/img/logo.png">
            <div id="titles">
                <p class="site-title" >{{ site.title }}</p>
                <p class="site-claim" >{{ site.claim }}</p>
            </div>
            {%- include menu.html -%}
        </header>
        <main>
            <h1>{{ page.h1 }}</h1>
            <h2>{{ page.h2 }}</h2>
            {{ content}}
        </main>
        <footer>
            {%- include footer.html -%}
        </footer>
  </body>
</html>
