<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
    {%- include head.html -%}
    <body>
        <header>
            <a href="{{ "/" | prepend:site.baseurl }}" title="vai all'indice">
                <img class="logo" alt="logo PIV" src="{{ "/assets/img/logo-menu.png" | prepend:site.baseurl }}">
            </a>
            <div class="titoli">
                <p class="site-title" >{{ site.title }}</p>
                <p class="site-claim" >{{ site.claim }}</p>
            </div>
            {%- include menu.html -%}
        </header>
        <main>
            <h1>{{ page.h1 }}</h1>
            <h2>{{ page.h2 }}</h2>
            {{ content}}
        </main>
        <footer>
            {%- include footer.html -%}
        </footer>
  </body>
</html>
