<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <title>{{ page.title }} - {{ site.title }}</title>
        <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    </head>
    <body>
        <header>
            <h1>{{ site.title }}</h1>
            <h2>{{ site.claim }}</h2>
        </header>
        <img alt="PIV - Piano Integrato Ventotene" src="/assets/img/index.jpg">
        <menu>
            <a class="menu" href="/en/home.html" >English </a>
            <a class="menu" href="/it/home.html" >Italiano</a>           
        </menu>
  </body>
</html>

